* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    background-image:url("Mascota_5.jpg");
}


  h1{
    color:chartreuse;
    padding-top: 20px;
}

#Main{
    margin-top: 3rem;
    height: 250px;
}

p{
    padding-top:0px;
    color:coral;
    font-family: sans-serif;
    font-size: 20px;
    padding: 5px;
}

div{
    margin: 50px;
    padding:10px;
    padding-top: 5px;
    background: black;
    text-align: center;
    height: auto;
    width: auto;
    opacity: 90%;
    border-radius: 30px;
}
  
  .form-registro {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 10px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  .form-registro h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .campo{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-registro p {
    height: 20px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-registro a {
    color: white;
    text-decoration: none;
  }
  
  .form-registro a:hover {
    color: white;
    
    
  }
  
  .form-registro .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }