body{
    background:darkcyan;
}

#activar ~ .desplegable {display: none;overflow: hidden;color:black;text-align:left;} 
#activar:checked ~ .desplegable {display: block;}

*{
    padding:0px;
    margin: 0px;
}

#Main{
    height: auto;
    background: black;
    opacity: 80%;
    margin: 15px;
    margin-top: 4rem;

}

#Orga{
    height:300px;
    width: calc(100%-10px);
    background:red;
    margin: 10px;
}


table{
	width: 100%;
}

td.titulo{
	opacity:0.8;
	border:1px solid red;
	background-color:black;
	text-align:center;
}

td.sinopsis{
	opacity:0.8;
	border:1px solid black;
	background-color:#9999ff;
	text-align:center;
}

td.trailer{
	opacity:0.8;
	border:1px solid black;
	background-color:#ff66ff;
	text-align:center;
}

td.imagenes{
    background: black;
    width: auto;
}

h1.titulo{
	text-align:center;
	color:white;
	size:15px;
	font-family:Arial Black;
}

p.sinopsis{
	color:black;
	font-family:Times New Roman;
	text-align:left;
	size:20px;
}


nav a{
	text-decoration:none;
	color:inherit;
	font-size:24px;
}

nav li{
	float:left;
	width:22%;
	padding:35px 40 px;
	background-color:#000;
	border:15px solid #000;
	text-align:center;
	color:red;
}

nav li:hover{
	background-color:red;
	color:#000;
}

div{
    margin: 30px;
    margin-top:20px;
    width: calc(100%-350px);
}

#Sep{
    height: 80px;
    margin: 15px;

}

img{
    width: calc(100%-5px);
    height: 450px;
    margin:5px

}