body{
    background-image:url("Contactanos.jpg");
}

#Main{
    margin-top: 3rem;
    height: auto;
    margin:10px;
}

#vision{
    opacity: 80%;
    margin: 20px;
    height: auto;
    border: blueviolet;
}


img{
    width: auto;
    height: 100%;
    border-radius: 15px;
    z-index: -1;
}

div{
    margin: 50px;
    padding-top: 5px;
    background:black;
    text-align: center;
    height: auto;
    width: auto;
    opacity: 90%;
    border-radius: 40px;
}

h1{
    color:chartreuse;
    padding-top: 20px;
}

#Visual{
    background:white;
    border-radius: 15px;
    height: 400px;
    width: 100%;
    margin: 0px;
    opacity: 95%;
    box-shadow:1px 1px 10px aqua;
}


p{
    padding-top:0px;
    color:coral;
    font-family: sans-serif;
    font-size: 20px;
    padding: 5px;
}

.galeria {
	height: 100%;
	width: auto;
	margin:0px;
	border: 1px solid #555;
	position: relative;  
    border-radius: 15px;
}

.galeria img {
	position: absolute;
	top: 0;
	left: 0;
 	opacity: 0;
	transition: opacity 5s;
	width:100%;
	height:100%;
    border-radius: 15px;
}

.galeria input[type=radio] {
	position: relative;
	bottom: calc(-350px - 1.5em);
  	left: 0%;
}

.galeria input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
  	opacity: 1;
}

.galeria input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
  	opacity: 1;
}

.galeria input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3) {
 	opacity: 1;
}

.galeria input[type=radio]:nth-of-type(4):checked ~ img:nth-of-type(4) {
	opacity: 1;
}


